@media (max-width: 768px) {
  .banner-text {
    /* display: none !important; */
    font-size: 50px !important;
  }
  .banner-form {
    flex-direction: column !important;
    width: 300px !important;
  }
  .banner-container {
    max-width: 350px !important;
    border-radius: 20px !important;
  }
  .banner {
    min-height: 60vh !important;
  }
}

@media (max-width: 820px) {
  .banner {
    min-height: 60vh !important;
  }
}

@media (max-width: 450px) {
  .banner-text {
    /* display: none !important; */
    font-size: 30px !important;
  }
  .banner-form {
    flex-direction: column !important;
    width: 200px !important;
  }
  .banner-container {
    max-width: 250px !important;
    border-radius: 20px !important;
  }
  .banner {
    min-height: 70vh !important;
  }
}

@media (max-width: 622px) {
  .booking-card {
    display: flex !important;
    flex-direction: column !important;
  }

  .bookings-image {
    width: 100% !important;
  }
}
