# Node modules (backend + frontend)
backend/node_modules/
frontend/tripnest/node_modules/

# ENV files
backend/.env
frontend/tripnest/.env

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build / dist output
backend/dist/
frontend/tripnest/build/

# OS and editor files
.DS_Store
.vscode/
